
{% extends 'base/base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/resume.css' %}"> 
{% endblock %}

{% block scripts %}
{% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
<li><a class="dropdown-item"  href="{% url 'employee_list' %}">Lista de empleados</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_list' %}">Listado de EPPs</a></li>

{% if request.user.groups.all.0.name == "administrador" %} 
  <li><a class="dropdown-item"  href="{% url 'employee_new' %}">Nuevo empleado</a></li>
  <li><a class="dropdown-item"  href="{% url 'epp_new' %}">Nuevo EPP</a></li>
{% endif %}
<li><a class="dropdown-item"  href="{% url 'logout' %}">Salir</a></li>
<li><a class="dropdown-item"  href="{% url 'contact' %}">Contacto</a></li>

{% endblock %}

{% block page_title %} Ingreso nuevo EPP {% endblock %}
{% block contenido %} 
<main class=main_resumen>
  <div class="row elementos">
    <!--Main button section-->
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <!-- EPPs picture at left-->
          <img src="{% static 'images/persona_con_epp.PNG' %}" alt="EPPS para un trabajo seguro">
        </div>
        <div class="col-4">
          <a href="{% url 'epp_type' %}" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">Agregar tipo de EPP</a>
          <form action="" method="post" class="form-control-sm campos_form">
            {% csrf_token %}
            {{ form_epp.non_field_errors }}
            <div class="fieldWrapper">
                {{ form_epp.name.errors }}
                <p class="textos">{{ form_epp.epp_type.label_tag }} </p>
                <p class="entradas"> {{form_epp.epp_type}} </p>
            </div>
            <div class="fieldWrapper">
              {{ form_epp.epp_serial_n.errors }}
              <p class="textos">{{ form_epp.epp_serial_n.label_tag }} </p>
              <p class="entradas"> {{form_epp.epp_serial_n}} </p>
            </div>
            <div class="fieldWrapper">
              {{ form_epp.epp_manufacturer.errors }}
              <p class="textos">{{ form_epp.epp_manufacturer.label_tag }} </p>
              <p class="entradas"> {{form_epp.epp_manufacturer}} </p>
            </div>
            <div class="fieldWrapper">
              {{ form_epp.epp_expire_date.errors }}
              <p class="textos">{{ form_epp.epp_expire_date.label_tag }} </p>
              <p class="entradas"><input type = 'date' value= {{form_epp.epp_expire_date}}> </p>
            </div>
            <div class="fieldWrapper">
              {{ form_epp.epp_assigned.errors }}
              <p class="textos">{{ form_epp.epp_assigned.label_tag }} </p>
              <p class="entradas"> {{form_epp.epp_assigned}} </p>
            </div>
           
            <button type="submit" class="btn btn-primary">Cargar datos</button>
          </form>
        </div>
        
      </div>
    </div>
  </div> 
</main>
{% endblock %}
  
  