
{% extends 'base/base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/resume.css' %}"> 
{% endblock %}

{% block scripts %}
{% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
<li><a class="dropdown-item"  href="{% url 'employee_list' %}">Lista de empleados</a></li>
<li><a class="dropdown-item"  href="{% url 'employee_new' %}">Nuevo empleado</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_list' %}">Listado de EPPs</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_new' %}">Nuevo EPP</a></li>
<li><a class="dropdown-item"  href="{% url 'login' %}">Salir</a></li>
<li><a class="dropdown-item"  href="{% url 'contact' %}">Contacto</a></li>

{% endblock %}

{% block page_title %} Detalle de EPP {% endblock %}
{% block contenido %} 
<main class=main_resumen>
  <div class="row">
    <!--Main button section-->
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <!-- EPPs picture at left-->
          <img src="{% static 'images/persona_con_epp.PNG' %}" alt="EPPS para un trabajo seguro">
        </div>
        <div class="col-4">
          <a href="{% url 'epp_update' epp.id %}" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">Modificar datos del EPP</a>
          <form action="" method="post" class="form-control-sm campos_form">
            {% csrf_token %}
            <div>
                <p class="textos">Tipo: {{epp.epp_type}} </p>
            </div>
            <div>
              <p class="textos">N de serie: {{epp.epp_serial_n}} </p>
            </div>
            <div>
              <p class="textos">Fabricante: {{epp.epp_manufacturer}} </p>
            </div>
            <div>
              <p class="textos">Fecha de reemplazo: {{epp.epp_expire_date}} </p>
            </div>
            <div>
              <p class="textos">Empleado: {{epp.epp_assigned}} </p>
            </div>
           
            {% comment %} <button type="submit" class="btn btn-primary">Cargar datos</button> {% endcomment %}
          </form>
        </div>
        
      </div>
    </div>
  </div> 
</main>
{% endblock %}
  
  