
{% extends 'base/base1.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/resume.css' %}"> 
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/resume.js' %}">
    </script>
{% endblock %}

{% block menus %}
<!-- Menu items  -->
<li><a class="dropdown-item"  href="{% url 'employee_list' %}">Lista de empleados</a></li>
<li><a class="dropdown-item"  href="{% url 'employee_new' %}">Nuevo empleado</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_list' %}">Listado de EPPs</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_new' %}">Nuevo EPP</a></li>
<li><a class="dropdown-item"  href="{% url 'login' %}">Salir</a></li>
<li><a class="dropdown-item"  href="{% url 'contact' %}">Contacto</a></li>
{% endblock %}

{% block page_title %} Resumen de EPPs {% endblock %}

{% block contenido %} 
<main class=main_resumen>
  <section class="row elementos">
    <!--Main button section-->
    <div class="col-4">
     <div class="indicador">
        <button type="button" class="btn btn-secondary position-relative" onclick="fn_in_stock()">
          En stok
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{in_stock_count.0}}
          </span>
        </button>
      </div>
      <div class="indicador">
        <button type="button" class="btn btn-secondary position-relative" onclick="fn_assigned()">
          Asignados
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{assigned.0}}
          </span>
        </button>
      </div>
      <div class="indicador">
        <button type="button" class="btn btn-secondary position-relative" onclick="fn_to_inspect()">
          Proximas inspecciones
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{to_inspect_count}}
          </span>
        </button>
      </div>
      <div class="indicador">
        <button type="button" class="btn btn-secondary position-relative" onclick="fn_to_expire()">
          Próximos a vencer
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{to_expire}}
          </span>
        </button>
      </div>
      <div class="indicador">
        <button type="button" class="btn btn-secondary position-relative" onclick="fn_employees()">
          Total empleados 
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{employe_count.0}} 
          </span>
        </button>
      </div>
    </div>
      <!-- Right section to show detail for every button -->
    
      <div class="col-4" id="div_in_stock">
        <div  id="in_stock" class=main_resumen> 
          {% for ep in in_stock %}
            {% for ep_in_stock in ep %}
              <div class="row elementos">
                <div class="col-6">
                  <h5><span class="badge bg-secondary w-100">Tipo de EPP </span></h5>
                  <h5><span class="badge bg-secondary w-100">N° de serie </span></h5>
                  <h5><span class="badge bg-secondary w-100">Fabricante </span></h5>
                </div>
                <div class="col-6">
                  <h5><span class="badge bg-secondary"> {{ep_in_stock.epp_type}}</span></h5>
                  <h5><span class="badge bg-secondary"> <a href="{{ep_in_stock.get_absolute_url}}">{{ep_in_stock.epp_serial_n}} </a>  </span></h5>
                  <h5><span class="badge bg-secondary">{{ep_in_stock.epp_manufacturer}} </span></h5>
                </div>
              </div>
              <hr class="textos" size="2px"/> 
            {% endfor%}
          {% endfor%}
        </div>
      </div>

      <div class="col-4 resumen" id="div_assigned">
        <div  id="assigned" class=main_resumen>  
          {% for epps in epps_employee %}
            {% for assig in epps %}
              <div class="row elementos">
                <div class="col-6">
                  <h5><span class="badge bg-secondary w-100">Tipo de EPP </span></h5>
                  <h5><span class="badge bg-secondary w-100">N° de serie </span></h5>
                  <h5><span class="badge bg-secondary w-100">Fabricante </span></h5>
                  <h5><span class="badge bg-secondary w-100">Empleado </span></h5>
                </div>
                <div class="col-6">
                  <h5><span class="badge bg-secondary">{{assig.epp_type}}</span></h5>
                  <h5><span class="badge bg-secondary"> <a href="{{assig.get_absolute_url}}">{{assig.epp_serial_n}} </a>  </span></h5>
                  <h5><span class="badge bg-secondary">{{assig.epp_manufacturer}} </span></h5>
                  <h5><span class="badge bg-secondary">{{assig.epp_assigned.worker_surname}} </span></h5>
                </div>
              </div>
              <hr class="textos" size="2px"/> 
            {% endfor%}
          {% endfor%}
        </div>
      </div>


      <div class="col-4 resumen" id="div_to_expire">
        <div  id="to_expire" class=main_resumen>  
          {% for exp in epps_to_expire %}
            <div class="row elementos">
              <div class="col-6">
                <h5><span class="badge bg-secondary w-100">Tipo de EPP </span></h5>
                <h5><span class="badge bg-secondary w-100">N° de serie </span></h5>
                <h5><span class="badge bg-secondary w-100">Fabricante </span></h5>
                <h5><span class="badge bg-secondary w-100">Fecha de vencimiento </span></h5>
                <h5><span class="badge bg-secondary w-100">Empleado </span></h5>
              </div>
              <div class="col-6">
                <h5><span class="badge bg-secondary">{{exp.epp_type}}</span></h5>
                <h5><span class="badge bg-secondary"> <a href="{{exp.get_absolute_url}}">{{exp.epp_serial_n}} </a>  </span></h5>
                <h5><span class="badge bg-secondary">{{exp.epp_manufacturer}} </span></h5>
                <h5><span class="badge bg-secondary">{{exp.epp_expire_date}} </span></h5>
                <h5><span class="badge bg-secondary">{{exp.epp_assigned.worker_surname}} </span></h5>
              </div>
            </div>
            <hr class="textos" size="2px"/> 
          {% endfor%}
        </div>
      </div>

      <div class="col-4 resumen" id="div_to_inspect">
        <div id="to_inspect" class=main_resumen> 
          {% for insp in epps_to_inspect %}
            <div class="row elementos">
              <div class="col-6">
                <h5><span class="badge bg-secondary w-100">Tipo de EPP </span></h5>
                <h5><span class="badge bg-secondary w-100">N° de serie </span></h5>
                <h5><span class="badge bg-secondary w-100">Fabricante </span></h5>
                <h5><span class="badge bg-secondary w-100">Fecha próxima inspección </span></h5>
                <h5><span class="badge bg-secondary w-100">Empleado </span></h5>
              </div>
              <div class="col-6">
                <h5><span class="badge bg-secondary">{{insp.epp_type}}</span></h5>
                <h5><span class="badge bg-secondary"> <a href="{{insp.get_absolute_url}}">{{insp.epp_serial_n}} </a>  </span></h5>
                <h5><span class="badge bg-secondary">{{insp.epp_manufacturer}} </span></h5>
                <h5><span class="badge bg-secondary">{{insp.epp_next_insp_date}} </span></h5>
                <h5><span class="badge bg-secondary">{{insp.epp_assigned.worker_surname}} </span></h5>
              </div>
            </div>
            <hr class="textos" size="2px"/> 
          {% endfor%}
        </div>
      </div>

      <div class="col-4 resumen" id="div_employees">
        <div id="employees" class=main_resumen> 
          {% for empl in employees %}
            <div class="row elementos">
              <div class="col-6">
                <h5><span class="badge bg-secondary w-100">Nombre </span></h5>
                <h5><span class="badge bg-secondary w-100">Apellido </span></h5>
              </div>
              <div class="col-4">
                <h5><span class="badge bg-secondary">{{empl.worker_name}}</span></h5>
                <h5><span class="badge bg-secondary">{{empl.worker_surname}}  </span></h5>
              </div>
            </div>
            <hr class="textos" size="2px"/> 
          {% endfor%}
        </div>
      </div>
    </section> 
</main>
{% endblock %}
  
  