html{
    height: 100%;
}


.indicador{
    margin-top: 20px;
}



.main_resumen{
    background-color: rgb(44, 44, 43);
    background-repeat: no-repeat fixed center;
    background-size:cover;      
}

.resumen{
    display:block;
    
}


.formulario{
    position:absolute;
  		left:50%;
  		top:25%;
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14;
        background-color:rgba(26, 73, 92, 0.7) ;
}


.textos{
    color: aliceblue;
}

.listado {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: antiquewhite;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

    flex: 1;
}

article span.vacio {
    color: red;
}