html{
    min-height: 100vh;
}

.indicador{
    margin-top: 20px;
}

.main_resumen{
    display:contents;
    
    background-repeat: repeat fixed center;
    background-size:cover;
    flex-direction: column;    
    min-height:100vh;
}

.elementos{
    display: flex;
    margin-top: 10px;
    background-color: rgb(56, 55, 56);
}

.subelementos{
    margin-left: 5px;
}

.campos_form{
    color: aliceblue;;
}

.resumen{
    display:block;
    
}

#in_stock {
    visibility:visible;
    position: absolute;
}

#assigned{
    visibility:visible;
    position: absolute;
}

#to_expire{
    visibility: visible;
    position: absolute;
}

#to_inspect{
    visibility: visible;
    position: absolute;
}

#employees{
    visibility: visible;
    position: absolute;
}

.textos{
    color: aliceblue;
    margin-bottom: 0%;
}

.entradas{
    margin-bottom: 6px;
    min-width: 5px;
}

.seleccioens{
    font-size:medium  ;
    margin-bottom: 8px;
}

.formulario{
    position:absolute;
  		left:50%;
  		top:25%;
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14;
        background-color:rgba(26, 73, 92, 0.7) ;
}