

{% extends 'base/base1.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/empleados.css' %}"> 
{% endblock %}

{% block menus %}
<!-- Menu items  -->
<li><a class="dropdown-item"  href="{% url 'employee_list' %}">Lista de empleados</a></li>
<li><a class="dropdown-item"  href="{% url 'employee_new' %}">Nuevo empleado</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_list' %}">Listado de EPPs</a></li>
<li><a class="dropdown-item"  href="{% url 'epp_new' %}">Nuevo EPP</a></li>
<li><a class="dropdown-item"  href="{% url 'login' %}">Salir</a></li>
<li><a class="dropdown-item"  href="{% url 'contact' %}">Contacto</a></li>

{% endblock %}

{% block page_title %} Listado de empleados y EPPs {% endblock %}
  <!--Caja-->
  {% block contenido %} 
  <main class=main_resumen>
    <div class="row elementos">
      {% for emp in empleados %}
        {% for empl in emp %}
          <!--Repeat for every employee-->
          <div class="col-5">
            <h2><span class="badge bg-dark">Datos del empleado </span></h2>
            <div class="row">
              <div class="col-4">
                <h5><span class="badge bg-secondary w-100">Name </span></h5>
                <h5><span class="badge bg-secondary w-100">Last name </span></h5>
                <h5><span class="badge bg-secondary w-100">Fecha de nacimiento </span></h5>
              </div>
              <div class="col-6">
                <h5><span class="badge bg-secondary"> {{empl.worker_name}}</span></h5>
                <h5><span class="badge bg-success"><a href="{{empl.get_absolute_url}}">{{empl.worker_surname}} </a>  </span></h5>
                <h5><span class="badge bg-secondary">{{empl.worker_birthday}}  </span></h5>
              </div>
            </div>
          </div>
          <div class="col-7">
            <h2><span class="badge bg-dark">EPPs Asignados </span></h2>
            
              {% for ep in emp.values %}
              {% for epps in ep %}
                <!--Repeat for every epp for every employee-->
                <div class="row">
                  <div class="col-2">
                    <h5><span class="badge bg-secondary w-100">Tipo de EPP </span></h5>
                    <h5><span class="badge bg-secondary w-100">N° de serie </span></h5>
                    <h5><span class="badge bg-secondary w-100">Fabricante </span></h5>
                  </div>
                  <div class="col-8">
                    <h5><span class="badge bg-secondary">{{epps.epp_type}}</span></h5>
                    <h5><span class="badge bg-secondary">{{epps.epp_serial_n}}  </span></h5>
                    <h5><span class="badge bg-secondary">{{epps.epp_manufacturer}} </span></h5>
                  </div>
                </div>
                {% empty %}
                <p  class="textos">No existen EPPs cargados en la base de datos</p>
              {% endfor %}
              {% endfor %}
          </div>
        <hr class="textos" size="2px"/> 
        {% empty %}
          <p  class="textos">No existen empleados cargados en la base de datos</p>
      {% endfor %}
    {% endfor %}
    <div> 
  </main>
  {% endblock %}
