<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPP Manager - Employee details</title>
</head>
<body>
    <h1> Employee details </h1>
    <section>
        <p>Name: {{empleado.first_name}} </p>
        <p>Last name: {{empleado.last_name}} </p>
        <p>Age: {{empleado.age}} </p>
        <p>Nacionality: {{empleado.nacionality}} </p>
        <p>Company: {{empleado.company}} </p>
        <p>Document type: {{empleado.document_type}} </p>
        <p>Document number: {{empleado.document_number}} </p>
        <p>Mobile number: {{empleado.mobile_n}} </p>
        <p>status: {{empleado.status}} </p>
    </section>
    <h2>Assigned EPPs</h2>
    <section>
        {% for ep in epps %}
            <p><b>Type: </b> {{ep.type}} </p>
            <p><b>Serial number: </b> {{ep.serial_number}} </p>
            <p><b>Manufacturer: </b> {{ep.manufacturer}} </p>
            <p><b>Assigment date: </b> {{ep.asign_date}} </p>
            <p><b>--------------------------------------------- </b>  </p>
        {% endfor%}
    </section>
</body>
</html>