{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>EPP Manager</title>
</head>
<body> 
  <header class=cabeza>  
  <!--Logo y barra de navegacion-->
    <nav class="navbar navbar-expand-lg navStyle">
      <a class="brand-navbar"><img src="{% static 'images/logo.png' %}" id="Logo" alt="Responsive image" height="80px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
        <span><i class="fas fa-align-right iconStyle"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto navList">
          <li class="nav-item active"><a class="nav-link"></i>EPP Manager</a></li>
          {% block menus %} {% endblock %}
        </ul>
      </div>
    </nav>
  </header>

  <!--Caja-->
{% block contenido %} {% endblock %}
</body>
<footer>
<div class="footer text-white text-center">
        <p>Copyright Grp 4 Comision 23317. All rights reserved</p>
    </div>
</footer>
</html>