{% extends 'base/base1.html' %}
{% load static %}

{% block extra_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'aula_virtual/css/index.css' %}"> {% endcomment %}
{% endblock %}

{% block page_title %} Lo esperamos nuevamente {% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
<li><a class="dropdown-item"  href="{% url 'login' %}">Login</a></li>
<li><a class="dropdown-item"  href="{% url 'contact' %}">Contacto</a></li>
{% endblock %}
  <!--Caja-->
  {% block contenido %} 
  <main class=main>
    <div class="message">
      <h3>EPP-Manager</h3>
      <h4>EPP Manager es una aplicación simple y potente que le permitirá     administrar los elementos de protección de personal de su empresa.
          Puede administrar altas, bajas, fechas de vencimientos, inspecciones periódicas, asignaciones a personal a fin de mantener seguros a sus empleados.
      </h4>
    </div>
  </main>
  {% endblock %}
