{% extends 'base/base1.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block extra_css %}
     <link rel="stylesheet" href="{% static '/css/resume.css' %}"> 
{% endblock %}

{% block page_title %} Contacto {% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
<li><a class="dropdown-item"  href="{% url 'login' %}">Login</a></li>
{% endblock %}
  <!--Caja-->
  {% block contenido %} 
  <main class=main>
    <div class="container ">
      <div class="row my-5">
        <div class="col-md-6"></div>
          <div class="col-md-6 textos">
              <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form contact %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </main>
{% endblock %}
