<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPP Manager by Grupo 4 Comision 23317</title>
</head>

 <img src="./Presentaciones/9720555_jpg.webp">

<body>
    <header>
        <h1>EPP Manager by Grupo 4 comision 23317</h1>
    </header>
    <h1>Pagina de inicio y loggeo al sistema EPP</h1>

    <h2>EPP Manager es una aplicación simple y potente que le permitirá administrar los elementos de protección de personal de su empresa.
    Puede administrar altas, bajas, fechas de vencimientos, inspecciones periódicas, asignaciones a su personal de forma de mantener seguro a los empleados sin papeles.</h2>


</body>
</html>